<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %>
			prevent your registration</h2>
			<p>Thanks to correct this fields :</p>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>		
				<li><%= msg %></li>
				<% end %>
			</ul>
	</div>
<% end %>